body {
	font-family : Arial,sans-serif;
	baclground-color :#f4f7fb;
	color: #333;
}

header {
	background-color : #1f4e79;
	color:white;
	text-align: center;
	padding:30px;
}

nay ul {
	list-style: none;
	padding:0;
}

nav li{
	display: inline;
	margin: 0 10px;
}

nav a {
	colour: white;
	text-decoration: none;
}

nav a {
	color: white;
	text-decoration:none;
	font-weight:bold;
}

nav a:hover {
	color: yellow;
}

main {
	padding: 30px;
}

img {
	width:200px;
	height:200px;
}

#kontak  {
	padding: 60px 20px;
}

#kontak h2{
	margin-bottom: 30px;
}

.kontak-list {
	max-width: 700px;
}

.kontak-item {
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 18px;
	margin-bottom:15px;
	text-decoration: none;
	color: inherit;
}

.ikon {
	font-size: 28px;
	width: 45px;
	min-width:50px;
	text-align: center;
}

.kontak-item h3{
	margin: 0 0 5px;
	font-size: 20px;
}

.kontak-item p{
	margin:0;
	font-size: 16px;
}
.kontak-item{
	background: #f5f5f5;
	border-radius: 12px;
	margin-bottom: 15px;
	padding: 18px 20px;
	transition: 0.3s;
}

.kontak-item:hover {
	transform: translateY(-3px);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.kontak-item h3 {
	margin: 0 0 5px;
}

.kontak-item p{
	margin: 0;
}

.ikon {
	font-size: 30px;
	width: 50px;
}

form {
	max-width: 700px;
	margin: 30px auto;
}

form label {
	display: block;
	margin-top: 15px;
	margin-bottom: 5px;
	font-weight: bold;
}

form input,
form textarea {
	widht: 100%;
	padding: 10px;
	border-radius: 8px;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

form textarea{
	height: 120px;
	resize: vertical;
}

form button {
	margin-top: 15px;
	padding: 10px 20px;
	border: none;
	border-radius:8px;
	background-color: #1f4e79;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

form button:hover {
	background-color: #163a5c;
}

footer {
	background-color: #1f4e79;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 30px;
}

@media (max-width: 600px) {
	nav li{
		display: block;
		margin: 10px 0;
	}
	figure img{
		max-width: 100%;
		height: auto;
	}
	form{
		width: 100%;
	}
}

#pendidikan {
	background-color:white;
	padding: 30px;
	margin: 30px 0;
	border-radius: 12px;
}

}

#pendidikan {
	transition: 0.3s;
}

#pendidikan: hover {
	transform: translateY(-5px);
}

#pendidikan h2 {
	margin-bottom: 20px;
}

#pendidikan h3 {
	margin-bottom: 15px;
}

#pendidikan p {
	margin: 8px 0;
}

#keahlian {
	padding : 30px;
	margin: 30px 0;
}

#keahlian ul{
	list-style: none;
	padding: 0;
}

#keahlian li {
	padding: 15px;
	margin: 10px 0;
	background-color: white;
	border-radius: 10px;
	transition: 0.3s;
}

#keahlian li:hover {
	transform: translateX(5px);
}

#hobi {
	padding: 30px;
	margin: 30px 0;
} 

#hobi ul {
	list-style: none;
	padding: 0;
}

#hobi li {
	display: inline-block;
	padding: 12px 20px;
	margin: 8px;
	background-color: white;
	border-radius: 20px;
	transition: scale0.3s;
}

#hobi li:hover {
	transform: scale(1.05);
}

html {
	scroll-behavior : smooth;
}

section{
	scroll-margin-top: 80px;
}

main {
	max-width: 1000px;
	margin: auto;
	padding: 20px;
}

h2 {
	margin-top: 0;
}

p{
	line-height: 1.7;
}

ul {
	line-height: 1.8;
}

.pendidikan-list {
	margin-top: 20 px;
}

.pendidikan-item {
	padding: 15px;
	margin: 10px 0;
	background-color:white;
	border-radius: 10px;
	transition: 0.3s;
}

.pendidikan-item:hover {
	transform: translateX(20px);
}

.pendidikan-item p {
	margin: 5px 0;
}

#pendidikan {
	padding: 30px;
	margin: 30px 0;
}

.pendidikan-list {
	margin-top: 20px;
	width: 100%;
}

.pendidikan-item {
	align-items: center;
	gap: 15px;
	padding: 15px;
	margin: 10px 0;
	background-color: white;
	border-radius: 10px;
	transition: 0.3s;
	width: 100%;
	box-sizing:border-box;
}

.pendidikan-item:hover {
	transform: translateX(5px);
}

.pendidikan-item .ikon{
	font-size:30px;
	width: 50px;
}

.pendidikan-item h3 {
	margin:0;
}

.pendidikan-iten p {
	margin: 5px 0 0;
}

#Hobi {
	padding: 30px;
	margin: 30px;
}

.hobi-list {
	margin-top: 20px;
	width: 100%;
}

.hobi-item{
	display:flex;
	align-items: center;
	gap: 15px;
	padding: 15px;
	margin: 10px 0;
	background-color: white;
	border-radius: 10px;
	transition: 0.3s;
	width: 100%;
	box-sizing:border-box;
}

.hobi-item :hover {
	transform:translateX(5px);
}

.hobi-item .ikon {
	font-size: 30px;
	width: 50px;
}

.hobi-item h3 {
	margin: 0;
}

.hobi-item p {
	margin: 5px 0 0;
}

.informasi {
	padding: 30px;
	margin: 30px 0;
}

.informasi-card {
	display:flex;
	align-items: center;
	gap: 15px;
	padding: 20px;
	margin: 15px 0;
	background-color: white;
	border-radius: 10px;
	transition: 0.3s;
	box-sizing:border-box;
}

.informasi-card:hover{
	transform: translateX(5px);
}

.informasi-card .ikon {
	font-size: 35px;
	widht: 50px;
}

.informasi-card h3 {
	margin: 0;
}

.informasi-card p{
	margin: 5px 0 0;
	line-height:1.6;
}

#tentang {
	padding: 30px;
	margin: 30px 0;
}

#tentang .profil {
	background-color: bluesoft;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)

	display: flex;
	align-items: center;
	gap: 30px;
}

#tentang .profil-info {
	flex: 1;
}

#tentang img {
	width: 200px;
	border-radius: 10px
}

#tentang p {
	line-height: 1.8;
}

.profil {
	display:flex;
	align-items: center;
	gap: 40px;
	padding: 25px;
	background-color: white;
	border-radius: 10px;
}

.profil-foto {
	margin: 0;
	text-align: center;
}

.profil-foto img {
	width: 180px;
	height: 180px;
	objects-fit: cover;
	border-radius: 50%;
}

.profil-foto figcaption {
	margin-top: 10px;
	font-weight: bold;
}

.profil-info {
	flex: 1;
}

.profil-info h3 {
	margin-top: 0;
}

.profil-info p {
	line-height: 1.7;
}

.profil-foto img {
	widht: 180px;
	height: 180px;
	object-fit: cover;
	border-radius: 50%;
	transition: 0.3s;
}

.profil-foto img:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 600px) {
	header h1 {
		font-size: 24px;
		text-align: center;
	}


nav ul {
	flex-direction: column;
	align-items: center;
}

nav li {
	margin: 5px 0;
}

main {
	padding: 10px;
}

.profil {
	flex-direction: column;
	text-align: center;
}

.profil-info {
	width: 100%;
}

.pendidikan-item,
.hobi-item,
.informasi-card,
.kontak-item {
	width: 100%;
}

}

@media (max-width: 600px) {
	#kontak {
		width: 100%;
		padding: 25px 20px;
		box-sizing: border-box;
	}

	.kontak-list {
		width: 100%;
	}

	.kontak-item {
		width: 100%;
		box-sizing: border-box;
	}

	#kontak form {
		width: 100%;
		box-sizing: border-box;
	}

	.informasi {
		padding: 15px;
	}

	.informasi-card {
		padding: 18px;
		gap: 15px;
	}

	.informasi-card .ikon{
		font-size: 30px;
	}
}

.informasi {
	padding: 30px;
	margin: 30px 0;
}

.informasi-card {
	display: flax;
	align-items: flex-start;
	gap: 20px;
	padding: 20px;
	margin: 15px 0;
	background-color: pinksoft;
	border-radius: 15px;
	box-shadow: 0 5px 15px rgba (0, 0, 0, 0.1);
	transition: 0.3s;
}

.informasi-card:hover {
	transform: translateX(5px);
}

.informasion-card .ikon {
	font-size: 35px;
	min-width: 45px;
}

.informasi-card h3 {
	margin: 0 0 8px;
}

.informasi-card p {
	margin: 0;
	line-height: 1.7;
}

@media (max-width: 768) {
	#tentang {
		padding: 20px;
		margin: 20px 0;
	}

	#tentang .profil {
		flex-direction: column;
		text-align: center;
		padding: 20px;
	}

	#tentang img {
		width: 180px;
	}

	#tentang .profil-info {
		width: 100%;
	}

	#tentang p {
		text-align: center;
	}
}
	
